@font-face {
    font-family: 'Fira Mono';
    font-style: regular;
    font-weight: 400;
    src:
        url(/FiraMono-Regular.ttf) format('truetype');
}

* {
    box-sizing: border-box;
    border-collapse: collapse;
}

html * {
    margin: 0;
    padding: 0;
}

body {
    max-width: 100vw;
    font-size: 18px;
    width: 100%;
    line-height: 1.5;
    color: #e4d8c9;
    font-family: 'Fira Mono', monospace, serif;
    background-image: url("/barbershop_bg_green.png");
    background-repeat: repeat;
    background-size: 120px;
}

body div {
    margin-bottom: 1.5rem;
}

h1, h2, h3 {
    line-height: 2;
    font-weight: 900;
    font-kerning: -10;
    color: #cfbc52;
}

p {
    line-height: 1.25;
    margin-bottom: 0.25rem;
}

ul {
    list-style-type: none;
}

#projects ul, #blog ul {
    margin-bottom: 1.5rem;
}

a {
    color: inherit;
    min-width: 25px;
    min-height: 25px;
    color: #cfbc52;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

hr:first-of-type {
    margin-bottom: 0rem;
}

hr {
    margin-bottom: 1.5rem;
    border: 1px dashed white;
}

/* base layout styles */
#content {
    width: 60%;
    height: 100%;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #31491d;
    border: 5rem solid #31491d;
}

#header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 1.5rem;
}

#logo {
    text-decoration: none;
}

#logo:hover, #logo:focus {
    text-decoration: underline;
}

#nav-links {
    display: flex;
    gap: 1.5rem;
}

#home-intro p, #privacy p, #project p {
    margin-bottom: 1.5rem;
}

.socials {
    display: flex;
    align-items: first baseline;
    gap: 1rem;
    margin-top: 1.5rem;
}

.socials div:first-of-type {
    width: 175px;
}

.socials-list {
    display: flex;
    flex-direction: column;
}

.socials-icon {
    width: 25px;
    margin-right: 0.75rem;
}

.page-title {
    flex: 1;
}

/* home styles */
#home-intro {
    display: flex;
    gap: 1rem;
    margin-bottom: 0;
}

#home-intro div {
    margin-bottom: 0;
}

#home-intro img {
    object-fit: contain;
    align-self: flex-start;
    width: 175px;
}

/* projects styles */
#project {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

#project ul {
    list-style-type: square;
    padding-left: 3rem;
    margin-bottom: 1.5rem;
}

#project a:nth-child(3) {
    max-width: 512px;
    align-self: center;
}

.link-back {
    position: absolute;
    align-self: flex-end;
    float: right;
}

#project img {
    max-width: 384px;
    align-self: center;
    margin-bottom: 1.5rem;
}

.img-link {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 1.5rem 0rem;
}

#projects p:nth-of-type(2), #blog p:nth-of-type(2) {
    margin-bottom: 1.5rem;
}

.project-link {
}

#post {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

/* contact styles */
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1.5rem 0rem;
}

input, textarea {
    min-height: 2.5rem;
    min-width: 100px;
    width: 100%;
    font-size: 1rem;
}

textarea {
    min-height: 8rem;
    resize: none;
}

/* privacy policy styles */
#privacy {
    display: flex;
    flex-direction: column;
}

#privacy ul {
    list-style-type: square;
    padding-left: 3rem;
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 1300px) {
    #content {
        width: 60%;
    }
}

@media screen and (max-width: 1150px) {
    body {
        background-image: none;
        background-color: #31491d;
    }

    #header {
        flex-direction: column;
    }

    #content {
        justify-self: start;
        width: 100%;
        padding: 2rem 2.75rem;
    }

    textarea {
        min-height: 10rem;
        resize: none;
    }

    .socials {
        flex-direction: column;
    }
}

@media screen and (max-width: 750px) {


    #content {
        border: none;
    }

    #home-intro {
        flex-direction: column;
    }

    #home-intro img {
        align-self: center;
    }
}