---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="contact">
    <p>Whether you think my website it cool, you like one of the projects I made, or just want to say hey...</p>
    <h3>I'd love to hear from you!</h3>
    <div class="socials">
		<div>
			<h3>Socials</h3>
			<p>Message me at:</p>
		</div>
		<div>
			<ul class="socials-list">
				<li><a href="https://kobijet.itch.io"><img class="socials-icon" src="/icons/itchio-textless-black.svg" />itch.io</a></li>
				<li><a href="https://bsky.app/profile/kobijet.bsky.social"><img class="socials-icon" src="/icons/Bluesky_Logo.svg" />Bluesky</a></li>
				<li><a href="https://www.linkedin.com/in/kobi-rogers/"><img class="socials-icon" src="/icons/LinkedIn_icon.svg" />LinkedIn</a></li>
			</ul>
		</div>
	</div>
</BaseLayout>