---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="home">
	<div id="home-intro">
		<img src="/pfp.jpg" alt="A person with curly blonde hair on a background of green and yellowing leaves.">
		<div>
			<h3>Welcome to my website</h3>
			<p>My name is Kobi!</p>
			<p>I'm a game developer, musician, and maker.</p>
			<p>You can find here a gallery of my projects and thoughts. I appreciate you taking the time to check them out!</p>
		</div>
	</div>
	<div class="socials">
		<div>
			<h3>Socials</h3>
			<p>Find me on:</p>
		</div>
		<div>
			<ul class="socials-list">
				<li><a href="https://kobijet.itch.io"><img class="socials-icon" src="/icons/itchio-textless-black.svg" />itch.io</a></li>
				<li><a href="https://bsky.app/profile/kobijet.bsky.social"><img class="socials-icon" src="/icons/Bluesky_Logo.svg" />Bluesky</a></li>
				<li><a href="https://www.linkedin.com/in/kobi-rogers/"><img class="socials-icon" src="/icons/LinkedIn_icon.svg" />LinkedIn</a></li>
			</ul>
		</div>
	</div>
</BaseLayout>