---
import Logo from "./Logo.astro";
---

<div id="header">
    <Logo />
    <nav>
        <ul id="nav-links">
            <li><a href="/projects/">/projects</a></li>
            <li><a href="/blog/">/blog</a></li>
            <li><a href="/contact/">/contact</a></li>
        </ul>
    </nav>
</div>